In [ ]:
a = [1, 2, 3, 4, "Hello", "Good Morning"]

a.pop(4)
a

[1, 2, 3, 4, 'Good Morning']

In [ ]:
temp = 1
a = int(input("팩토리얼을 구할 수를 입력하세요"))
for i in range(1,a+1):
  temp = temp*i
print(temp)

팩토리얼4
24

In [ ]:
list_= []
for i in range(0,1001,2):
  list_.append(i)
list_

In [ ]:
[i for i in range(0,1001,2)]

In [ ]:
[i for i in range(0,11,2)]

[0, 2, 4, 6, 8, 10]

In [ ]:
[i for i in range(0,11) if i % 2 == 0 ]

[0, 2, 4, 6, 8, 10]

In [ ]:
b = a.copy()
c = a
d = a[:]
import copy
e = copy.copy(a)

In [ ]:
print(a is b)
print(a is c)
print(a is d)
print(a is e)

False
True
False
False

In [ ]:
from copy import copy
e = copy(a)

In [ ]:
data = [["영자", "옥순", "광수", "순자"],[33, 37, 39, 31],["여자","여자","남자","여자"]]

In [ ]:
data[2]

['여자', '여자', '남자', '여자']

In [ ]:
sum = 0
count = 0
for i in range(len(data[2])):
  if data[2][i] == '여자':
    sum = sum + data[1][i]
    count = count + 1
mean = sum / count
print(mean)

33.666666666666664

In [ ]:
a = [1,2,3,4,'Hello', "Good Morning"]
a[5][5:]

'Morning'

In [ ]:
a = [1,3,4,2]
a.sort(reverse = True)
a

[4, 3, 2, 1]

In [ ]:
a = [1,3,4,2]
a=sorted(a)
a.reverse()
a

[4, 3, 2, 1]

- escape

In [ ]:
print('Life is short. \nYou need python.')

Life is short.
You need python.

In [ ]:
print('Life is short. \tYou need python.')

Life is short. 	You need python.

In [ ]:
print("그가 나에게 \"사랑해요\"라고 말했다.")

그가 나에게 "사랑해요"라고 말했다.

 - list comprehension

In [ ]:
a = [1,2,3,4]
b = []
for i in a :
  b.append(i*3)
b

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
[i*3 for i in a if i % 2 == 0]

[6, 12]

#While

In [ ]:
i = 0
while i <10:
  print(i, end = ",  ")
  i +=1

0,  1,  2,  3,  4,  5,  6,  7,  8,  9,

# Break

In [ ]:
i = 0
import time as t
while True:
  print(i, end = ', ')
  i += 1
  t.sleep(1)
  if i == 10:
    print('끝')
    break

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 끝

In [ ]:
# 1부터 10까지의 합을 while 문으로
sum = 0
i = 0
while(i<10):
  i+=1
  sum = sum+i
print(sum)

55

In [ ]:
sum = 0
i = 0
while(i<10):
  i+=1
  if i%3 == 0:
    sum = sum + i
print(sum)

18

In [ ]:
i = 0
while i<10:
  i +=1
  if i % 3 == 0:
    continue
  print(i)

1
2
4
5
7
8
10

In [ ]:
i = 0
sum = 0
while i<10:
  i +=1
  if i % 3 == 0:
    continue
  sum = sum + i
print(sum)
# 3이 배수가 아닌 수의 합

37

In [ ]:
import random
random.randint(1,3)

3

In [ ]:
[random.randint(1,3) for i in range(10)]

[1, 3, 3, 1, 2, 1, 2, 2, 2, 3]

In [ ]:
sum = 0
while True:
  i = random.randint(1,10)
  if  i<7 :
    sum += i
  if sum>1000:
    print(sum)
    break

1003

In [ ]:
#3의 배수 또는 5의 배수의 합 (1부터 10까지)
sum = 0
i = 0
while True:
  i = i+1
  if i%3 != 0 and i % 5 != 0:
    sum = sum+i
  else :
    continue
  if i == 101:
    break
print(sum)

2733

#함수

In [ ]:
def add(a,b):
  c = a+b
  return c

In [ ]:
add(1,2)

3

In [ ]:
add(10,30)

40

In [ ]:
def asd(a,b):
  c = {'a' : a , 'b' : b}
  return c

In [ ]:
def twice(a):
  res = 2*a
  return res

In [ ]:
twice(1024)

2048

In [ ]:
def add():
  a = 1
  b = 2
  c=a+b
  return c

In [ ]:
add()

3

In [ ]:
def odd_even(a):
  if a % 2 != 0:
    return 2*a
  else:
    return a/2

In [ ]:
odd_even(3)

6

In [ ]:
odd_even(4)

2.0

In [ ]:
def add():
  a = 1
  b= 2
  return a+b,a-b

In [ ]:
a,b= add()
print(a,b)

3 -1

- 기본 값이 있는 경우

In [ ]:
def add(a,b,c=100):
  result = a+b+c
  return result

In [ ]:
add(1,2)#c 값을 입력안하면 default 값으로 100이 들어감

103

In [ ]:
add(1,2,3)

6

In [ ]:
add(2,1,3)

6

In [ ]:
add(1,2,3)

6

In [ ]:
add(c=3,b=1,a=2)

6

In [ ]:
def add(a,b=10,c):
  result = a+b+c
  return result

SyntaxError: ignored

In [ ]:
def add(*args):
  sum = 0
  for i in args:
    sum +=i   
  return sum

In [ ]:
add(1,2,3,4)

10

In [ ]:
#입력받은 수까지의 합
def sum(number):
  sum = 0
  for i in range(1,number+1):
    sum += i
  return sum

In [ ]:
sum(7)

28

In [ ]:
def sum():
  num1 = int(input('숫자를 입력하세요 : '))
  num2 = int(input('숫자를 입력하세요 : '))
  sum = 0
  if num1 < num2:
    for i in range(num1,num2+1):
        sum += i
  elif num2<num1:
    for i in range(num2,num1+1):
      sum += i
  else:
    return num1
  return sum

In [ ]:
sum()

숫자를 입력하세요 : 10
숫자를 입력하세요 : 3

52

In [ ]:
def func_r(a):
  return a*2
def func_p(a):
  print(a*2)

In [ ]:
func_r(2)

4

In [ ]:
b=func_r(2)
b/2

2.0

In [ ]:
c = func_p(2)
c/2

4

TypeError: ignored

In [ ]:
def kw_test(**kwargs):
  return kwargs

In [ ]:
kw_test(a=1, b= 2)

{'a': 1, 'b': 2}

In [ ]:
def kw_test2(*kwargs):
  print(kwargs)

In [ ]:
kw_test2(1,2,3,4)

(1, 2, 3, 4)

In [ ]:
def myself(name, age):
  string = f'나의 이름은 {name}이고 나이는 {age}살 입니다'
  return string

In [ ]:
myself('홍길동',20)

'나의 이름은 홍길동이고 나이는 20살 입니다'

In [ ]:
def add(a,b):
  c = a+b
  return c
add(1,2)

3

In [ ]:
def add(a,b):
  return a+b
add(1,2)

3

###lambda 함수

In [ ]:
(lambda a,b : a+b)(1,2)

3

In [ ]:
f = lambda a,b : a+b
f(4,10)

14

###재귀함수

In [ ]:
import time as t
def hello(count):
  print('hello')
  t.sleep(1)
  if count == 1:
    return
  count -= 1
  hello(count)

In [ ]:
hello(5)

hello
hello
hello
hello
hello

In [ ]:
def sum_10():
  sum = 0
  for i in range(1,11):
    sum += 1
  return sum

In [ ]:
f = lambda a,b : a*b