#테스트

In [ ]:
len(dir(__builtin__))

155

In [ ]:
def change(**kwargs):
  return kwargs

TypeError: ignored

In [ ]:
a=['a','b','c']
c = dict()
for i,j in enumerate(a):
    c[j] = i + 1
print(c)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
def even(i):
  if i % 2 == 0:
    return i

In [ ]:
num = [1,6,99,3,28,8,9,12,56,17,284]
print(list(filter(even, num)))

[6, 28, 8, 12, 56, 284]

In [ ]:
try :
  4/0
except ZeroDivisionError as e:
  print(e)

division by zero

In [ ]:
import sys

In [ ]:
sys.path.append()

In [ ]:
class Clothes :
  def __init__(self,color, fit):
    self.color = color 
    self.fit = fit
  def target(self, age, gender):
    if age <= 5:
       self.age = 'baby'
    elif age <= 13:
      self.age = 'kids'
    else :
      self.age = 'adult'
      if gender == 'female':
        self.gender = 'female'
      else :
        self.gender = 'men'

In [ ]:
a = Clothes('black','slim')
a.target(14,'female')
a.gender

'female'

In [ ]:
a.age

'adult'

In [ ]:
class Clothes2(Clothes) :
  def __init__(self, color,fit,season):
    super().__init__(color,fit)
    self.season = season

In [ ]:
id= ['970212-1054321','010101-2054321','020202-1065432','220908-1044444']

id_male = list(filter(lambda id : id[7] == '1',id))

id_male

['970212-1054321', '020202-1065432', '220908-1044444']

#*수업*

In [ ]:
hex(3)

'0x3'

In [ ]:
int('ff',base = 16)

255

In [ ]:
int('1111',base = 2)

15

In [ ]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
def two_times(x):return 2*x
print(list(map(two_times,[1,2,3,4])))

[2, 4, 6, 8]

In [ ]:
list(map(int,['1','2','3','4']))

[1, 2, 3, 4]

In [ ]:
print(dir('python'),end = ' ')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
round(3.141592,2)

3.14

In [ ]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [ ]:
for i,j,k,l in zip([1,2,3],[4,5,6],['a','b','c'],['정','전','박']):
  print(i,j,k,l)

1 4 a 정
2 5 b 전
3 6 c 박

In [ ]:
import folium
import pandas as pd

In [ ]:
df = pd.read_excel('/content/sample_data/서울지역대학교위치.xlsx')

In [ ]:
df

               대학교         위도          경도
0     KAIST 서울캠퍼스   37.592573  127.046737
1            KC대학교  37.548345  126.854797
2     가톨릭대학교(성신교정)  37.585922  127.004328
3     가톨릭대학교(성의교정)  37.499623  127.006065
4         감리교신학대학교  37.567645  126.961610
5            건국대학교  37.540762  127.079343
6     경기대학교 서울캠퍼스   37.300485  127.035833
7     경희대학교 서울캠퍼스   37.596195  127.052544
8            고려대학교  37.590192  127.033184
9            광운대학교  37.619496  127.059696
10           국민대학교  37.609641  126.997697
11         덕성여자대학교  37.651199  127.016160
12           동국대학교  37.557477  127.002052
13         동덕여자대학교  37.606320  127.041808
14    명지대학교 서울캠퍼스   37.580205  126.923445
15           삼육대학교  37.642952  127.105476
16    상명대학교 서울캠퍼스   37.602638  126.955252
17           서강대학교  37.550944  126.941002
18           서경대학교  37.615095  127.013111
19       서울과학기술대학교  37.631668  127.077481
20         서울교육대학교  37.489961  127.016412
21         서울기독대학교  37.600923  126.912382
22           서울대학교  37.459882  126.951905
23         서울시립대학교  37.583866  127.058777
24         서울여자대학교  37.628113  127.090457
25         서울한영대학교  37.496541  126.851262
26          성공회대학교  37.487232  126.825320
27  성균관대학교 서울캠퍼스    37.588227  126.993606
28         성신여자대학교  37.591310  127.022131
29           세종대학교  37.550260  127.073139
30         숙명여자대학교  37.546364  126.964831
31           숭실대학교  37.496311  126.957460
32           연세대학교  37.565784  126.938572
33          육군사관학교  37.623819  127.098878
34         이화여자대학교  37.564308  126.950179
35        장로회신학대학교  37.550511  127.103458
36    중앙대학교 서울캠퍼스   37.505088  126.957101
37           총신대학교  37.488623  126.966817
38         추계예술대학교  37.562452  126.953417
39       한국방송통신대학교  37.578613  127.003291
40         한국성서대학교  37.648749  127.064320
41        한국예술종합학교  37.604997  127.056740
42        한국외국어대학교  37.597319  127.057843
43         한국체육대학교  37.519627  127.130984
44           한성대학교  37.581785  127.010369
45           한양대학교  37.557232  127.045322
46           홍익대학교  37.551464  126.925011

In [ ]:
df.대학교

0       KAIST 서울캠퍼스
1              KC대학교
2       가톨릭대학교(성신교정)
3       가톨릭대학교(성의교정)
4           감리교신학대학교
5              건국대학교
6       경기대학교 서울캠퍼스
7       경희대학교 서울캠퍼스
8              고려대학교
9              광운대학교
10             국민대학교
11           덕성여자대학교
12             동국대학교
13           동덕여자대학교
14      명지대학교 서울캠퍼스
15             삼육대학교
16      상명대학교 서울캠퍼스
17             서강대학교
18             서경대학교
19         서울과학기술대학교
20           서울교육대학교
21           서울기독대학교
22             서울대학교
23           서울시립대학교
24           서울여자대학교
25           서울한영대학교
26            성공회대학교
27    성균관대학교 서울캠퍼스
28           성신여자대학교
29             세종대학교
30           숙명여자대학교
31             숭실대학교
32             연세대학교
33            육군사관학교
34           이화여자대학교
35          장로회신학대학교
36      중앙대학교 서울캠퍼스
37             총신대학교
38           추계예술대학교
39         한국방송통신대학교
40           한국성서대학교
41          한국예술종합학교
42          한국외국어대학교
43           한국체육대학교
44             한성대학교
45             한양대학교
46             홍익대학교
Name: 대학교, dtype: object

In [ ]:
print(df.위도.values)

[37.592573   37.5483449  37.5859218  37.4996227  37.5676455  37.5407625
 37.300485   37.5961951  37.59019162 37.6194965  37.6096409  37.6511988
 37.5574771  37.6063202  37.5802046  37.6429515  37.602638   37.5509442
 37.615095   37.6316684  37.4899615  37.6009228  37.459882   37.5838657
 37.6281126  37.4965411  37.4872325  37.588227   37.5913103  37.5502596
 37.5463644  37.4963111  37.565784   37.6238188  37.5643079  37.5505112
 37.5050881  37.4886232  37.5624515  37.5786127  37.6487485  37.6049973
 37.597319   37.5196266  37.5817849  37.5572321  37.5514642 ]

In [ ]:
for i,j,k in zip(df.대학교, df.위도, df.경도):
  print(i,j,k)

KAIST 서울캠퍼스  37.592573 127.046737
KC대학교 37.5483449 126.8547974
가톨릭대학교(성신교정) 37.5859218 127.0043275
가톨릭대학교(성의교정) 37.4996227 127.0060653
감리교신학대학교 37.5676455 126.96161
건국대학교 37.5407625 127.0793428
경기대학교 서울캠퍼스  37.30048499999999 127.035833
경희대학교 서울캠퍼스  37.5961951 127.052544
고려대학교 37.59019162 127.03318417123
광운대학교 37.6194965 127.0596958
국민대학교 37.6096409 126.997697
덕성여자대학교 37.6511988 127.0161604
동국대학교 37.5574771 127.0020518
동덕여자대학교 37.6063202 127.041808
명지대학교 서울캠퍼스  37.5802046 126.9234451
삼육대학교 37.6429515 127.1054757
상명대학교 서울캠퍼스  37.602638 126.955252
서강대학교 37.5509442 126.9410023
서경대학교 37.615095 127.0131113
서울과학기술대학교 37.6316684 127.0774813
서울교육대학교 37.4899615 127.0164124
서울기독대학교 37.6009228 126.9123818
서울대학교 37.459882 126.9519053
서울시립대학교 37.5838657 127.0587771
서울여자대학교 37.6281126 127.0904568
서울한영대학교 37.4965411 126.8512616
성공회대학교 37.4872325 126.8253202
성균관대학교 서울캠퍼스   37.588227 126.993606
성신여자대학교 37.5913103 127.0221312
세종대학교 37.5502596 127.073139
숙명여자대학교 37.5463644 126.9648311
숭실대학교 37.4963111 126.9574596
연세대학교 37.565784 126.938572
육군사관학교 37.6238188 127.0988783
이화여자대학교 37.5643079 126.9501786
장로회신학대학교 37.5505112 127.1034577
중앙대학교 서울캠퍼스  37.5050881 126.9571012
총신대학교 37.4886232 126.9668169
추계예술대학교 37.5624515 126.9534165
한국방송통신대학교 37.5786127 127.0032905
한국성서대학교 37.6487485 127.0643199
한국예술종합학교 37.6049973 127.0567397
한국외국어대학교 37.597319 127.057843
한국체육대학교 37.5196266 127.1309837
한성대학교 37.5817849 127.010369
한양대학교 37.5572321 127.0453219
홍익대학교 37.5514642 126.9250106

In [ ]:
# 서울 지도 만들기
map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', 
                        zoom_start=12)

# 대학교 위치정보를 Marker로 표시
for name, lat, lng in zip(df.대학교, df.위도, df.경도):
    folium.Marker([lat, lng], tooltip=name).add_to(map)

# 지도를 HTML 파일로 저장하기
map.save('./top6.html')

#외장함수

In [ ]:
sys.path

['/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
sys.argv

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py',
 '-f',
 '/root/.local/share/jupyter/runtime/kernel-87b3bb13-a544-4ba3-b586-6caee280fef2.json']

In [ ]:
sys.path

['/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
import os

In [ ]:
os.environ

environ{'NV_LIBCUBLAS_DEV_VERSION': '11.3.0.106-1',
        'NV_CUDA_COMPAT_PACKAGE': 'cuda-compat-11-1',
        'NV_CUDNN_PACKAGE_DEV': 'libcudnn8-dev=8.0.5.39-1+cuda11.1',
        'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64',
        'NV_LIBNCCL_DEV_PACKAGE': 'libnccl-dev=2.8.4-1+cuda11.1',
        'CLOUDSDK_PYTHON': 'python3',
        'LANG': 'en_US.UTF-8',
        'NV_LIBNPP_DEV_PACKAGE': 'libnpp-dev-11-1=11.1.2.301-1',
        'HOSTNAME': '40272a56ab26',
        'OLDPWD': '/',
        'CLOUDSDK_CONFIG': '/content/.config',
        'NV_LIBNPP_VERSION': '11.1.2.301-1',
        'NV_NVPROF_DEV_PACKAGE': 'cuda-nvprof-11-1=11.1.105-1',
        'NVIDIA_VISIBLE_DEVICES': 'all',
        'NV_NVPROF_VERSION': '11.1.105-1',
        'NV_LIBCUSPARSE_VERSION': '11.3.0.10-1',
        'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=172.28.0.2"],"debugAdapterMultiplexerPath":"/usr/local/bin/dap_multiplexer","enableLsp":true}',
        'NV_LIBCUBLAS_DEV_PACKAGE': 'libcublas-dev-11-1=11.3.0.106-1',
        'ENV': '/root/.bashrc',
        'NCCL_VERSION': '2.8.4-1',
        'TF_FORCE_GPU_ALLOW_GROWTH': 'true',
        'NO_GCE_CHECK': 'False',
        'PWD': '/',
        'NVARCH': 'x86_64',
        'HOME': '/root',
        'NV_LIBCUSPARSE_DEV_VERSION': '11.3.0.10-1',
        'LAST_FORCED_REBUILD': '20220830',
        'NV_LIBNCCL_PACKAGE_VERSION': '2.8.4-1',
        'NV_LIBNCCL_PACKAGE': 'libnccl2=2.8.4-1+cuda11.1',
        'DEBIAN_FRONTEND': 'noninteractive',
        'NV_LIBNCCL_DEV_PACKAGE_NAME': 'libnccl-dev',
        'NV_CUDA_LIB_VERSION': '11.1.1-1',
        'NV_LIBNPP_PACKAGE': 'libnpp-11-1=11.1.2.301-1',
        'NV_LIBNCCL_PACKAGE_NAME': 'libnccl2',
        'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs',
        'NV_NVTX_VERSION': '11.1.74-1',
        'NV_LIBCUBLAS_VERSION': '11.3.0.106-1',
        'NV_LIBCUBLAS_PACKAGE': 'libcublas-11-1=11.3.0.106-1',
        'GCE_METADATA_TIMEOUT': '3',
        'NV_CUDNN_VERSION': '8.0.5.39',
        'NV_CUDA_CUDART_DEV_VERSION': '11.1.74-1',
        'GLIBCPP_FORCE_NEW': '1',
        'TBE_CREDS_ADDR': '172.28.0.1:8008',
        'SHELL': '/bin/bash',
        'GCS_READ_CACHE_BLOCK_SIZE_MB': '16',
        'NV_NVML_DEV_VERSION': '11.1.74-1',
        'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command',
        'CUDA_VERSION': '11.1.1',
        'NV_LIBCUBLAS_PACKAGE_NAME': 'libcublas-11-1',
        'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility',
        'TBE_RUNTIME_ADDR': '172.28.0.1:8011',
        'SHLVL': '0',
        'PYTHONPATH': '/env/python',
        'NV_LIBCUBLAS_DEV_PACKAGE_NAME': 'libcublas-dev-11-1',
        'NVIDIA_REQUIRE_CUDA': 'cuda>=11.1 brand=tesla,driver>=418,driver<419 brand=tesla,driver>=450,driver<451',
        'NV_LIBNPP_DEV_VERSION': '11.1.2.301-1',
        'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009',
        'NV_CUDA_CUDART_VERSION': '11.1.74-1',
        'COLAB_GPU': '0',
        'NV_CUDNN_PACKAGE_NAME': 'libcudnn8',
        'GLIBCXX_FORCE_NEW': '1',
        'PATH': '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin',
        'NV_LIBNCCL_DEV_PACKAGE_VERSION': '2.8.4-1',
        'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4',
        'NV_CUDNN_PACKAGE': 'libcudnn8=8.0.5.39-1+cuda11.1',
        'JPY_PARENT_PID': '41',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://ipykernel.pylab.backend_inline',
        'ENABLE_DIRECTORYPREFETCHER': '1',
        'USE_AUTH_EPHEM': '1',
        'PYDEVD_USE_FRAME_EVAL': 'NO'}

In [ ]:
os.chdir

In [ ]:
os.getcwd()

'/content'

In [ ]:
os.rmdir()#디렉토리 삭제

In [ ]:
df.to_csv('aaaaaaa.csv')

In [ ]:
df.to_excel('bbbbbbb.xlsx')

In [ ]:
import pickle

In [ ]:
with open('test.pickle','wb') as f:
  pickle.dump(df,f)

In [ ]:
with open('test.pickle','rb') as f:
   data = pickle.load(f)
print(data)

               대학교         위도          경도
0     KAIST 서울캠퍼스   37.592573  127.046737
1            KC대학교  37.548345  126.854797
2     가톨릭대학교(성신교정)  37.585922  127.004328
3     가톨릭대학교(성의교정)  37.499623  127.006065
4         감리교신학대학교  37.567645  126.961610
5            건국대학교  37.540762  127.079343
6     경기대학교 서울캠퍼스   37.300485  127.035833
7     경희대학교 서울캠퍼스   37.596195  127.052544
8            고려대학교  37.590192  127.033184
9            광운대학교  37.619496  127.059696
10           국민대학교  37.609641  126.997697
11         덕성여자대학교  37.651199  127.016160
12           동국대학교  37.557477  127.002052
13         동덕여자대학교  37.606320  127.041808
14    명지대학교 서울캠퍼스   37.580205  126.923445
15           삼육대학교  37.642952  127.105476
16    상명대학교 서울캠퍼스   37.602638  126.955252
17           서강대학교  37.550944  126.941002
18           서경대학교  37.615095  127.013111
19       서울과학기술대학교  37.631668  127.077481
20         서울교육대학교  37.489961  127.016412
21         서울기독대학교  37.600923  126.912382
22           서울대학교  37.459882  126.951905
23         서울시립대학교  37.583866  127.058777
24         서울여자대학교  37.628113  127.090457
25         서울한영대학교  37.496541  126.851262
26          성공회대학교  37.487232  126.825320
27  성균관대학교 서울캠퍼스    37.588227  126.993606
28         성신여자대학교  37.591310  127.022131
29           세종대학교  37.550260  127.073139
30         숙명여자대학교  37.546364  126.964831
31           숭실대학교  37.496311  126.957460
32           연세대학교  37.565784  126.938572
33          육군사관학교  37.623819  127.098878
34         이화여자대학교  37.564308  126.950179
35        장로회신학대학교  37.550511  127.103458
36    중앙대학교 서울캠퍼스   37.505088  126.957101
37           총신대학교  37.488623  126.966817
38         추계예술대학교  37.562452  126.953417
39       한국방송통신대학교  37.578613  127.003291
40         한국성서대학교  37.648749  127.064320
41        한국예술종합학교  37.604997  127.056740
42        한국외국어대학교  37.597319  127.057843
43         한국체육대학교  37.519627  127.130984
44           한성대학교  37.581785  127.010369
45           한양대학교  37.557232  127.045322
46           홍익대학교  37.551464  126.925011

In [ ]:
import shutil
shutil.copy('src.txt', 'dst.txt')

FileNotFoundError: ignored

In [ ]:
import glob
glob.glob()# 경로안의 파일 찾아냄

- time

In [ ]:
import time
time.time() #1970년 1월 1일 기준으로 0시 0분 0초 초를 리턴함

1663045571.7778792

In [ ]:
time.time()/60/60/24/365

52.7348326202528

In [ ]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=9, tm_mday=13, tm_hour=5, tm_min=9, tm_sec=35, tm_wday=1, tm_yday=256, tm_isdst=0)

In [ ]:
time.asctime()

'Tue Sep 13 05:10:33 2022'

In [ ]:
now = time.localtime()
time.strftime('%Y', now)

'2022'

In [ ]:
time.strftime('%Y-%m-%d %I:%M:%S %p',now)

'2022-09-13 05:14:34 AM'

In [ ]:
time.strptime('2022-09-13 02:13:33 PM', '%Y-%m-%d %I:%M:%S %p')

time.struct_time(tm_year=2022, tm_mon=9, tm_mday=13, tm_hour=14, tm_min=13, tm_sec=33, tm_wday=1, tm_yday=256, tm_isdst=-1)

In [ ]:
while True:
  print('hello')
  time.sleep(1)

hello
hello
hello
hello
hello
hello
hello
hello

KeyboardInterrupt: ignored

In [ ]:
import calendar
calendar.calendar(2022,12)

'                                                                                                                                           2022\n\n                                         January                                                                                         February                                                                                         March\n   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday\n                                                                       1            2                              1            2            3            4            5            6                              1            2            3            4            5            6\n      3            4            5            6            7            8            9                 7            8            9           10           11           12           13                 7            8            9           10           11           12           13\n     10           11           12           13           14           15           16                14           15           16           17           18           19           20                14           15           16           17           18           19           20\n     17           18           19           20           21           22           23                21           22           23           24           25           26           27                21           22           23           24           25           26           27\n     24           25           26           27           28           29           30                28                                                                                              28           29           30           31\n     31\n\n                                          April                                                                                            May                                                                                             June\n   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday\n                                                          1            2            3                                                                                               1                                           1            2            3            4            5\n      4            5            6            7            8            9           10                 2            3            4            5            6            7            8                 6            7            8            9           10           11           12\n     11           12           13           14           15           16           17                 9           10           11           12           13           14           15                13           14           15           16           17           18           19\n     18           19           20           21           22           23           24                16           17           18           19           20           21           22                20           21           22           23           24           25           26\n     25           26           27           28           29           30                             23           24           25           26           27           28           29                27           28           29           30\n                                                                                                     30           31\n\n                                           July                                                                                           August                                                                                        September\n   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday\n                                                          1            2            3                 1            2            3            4            5            6            7                                                        1            2            3            4\n      4            5            6            7            8            9           10                 8            9           10           11           12           13           14                 5            6            7            8            9           10           11\n     11           12           13           14           15           16           17                15           16           17           18           19           20           21                12           13           14           15           16           17           18\n     18           19           20           21           22           23           24                22           23           24           25           26           27           28                19           20           21           22           23           24           25\n     25           26           27           28           29           30           31                29           30           31                                                                    26           27           28           29           30\n\n                                         October                                                                                         November                                                                                        December\n   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday\n                                                                       1            2                              1            2            3            4            5            6                                                        1            2            3            4\n      3            4            5            6            7            8            9                 7            8            9           10           11           12           13                 5            6            7            8            9           10           11\n     10           11           12           13           14           15           16                14           15           16           17           18           19           20                12           13           14           15           16           17           18\n     17           18           19           20           21           22           23                21           22           23           24           25           26           27                19           20           21           22           23           24           25\n     24           25           26           27           28           29           30                28           29           30                                                                    26           27           28           29           30           31\n     31\n'

In [ ]:
calendar.calendar(2022)

'                                  2022\n\n      January                   February                   March\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6          1  2  3  4  5  6\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27\n24 25 26 27 28 29 30      28                        28 29 30 31\n31\n\n       April                      May                       June\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3                         1             1  2  3  4  5\n 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12\n11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19\n18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26\n25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30\n                          30 31\n\n        July                     August                  September\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3       1  2  3  4  5  6  7                1  2  3  4\n 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11\n11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18\n18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25\n25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30\n\n      October                   November                  December\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6                1  2  3  4\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25\n24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31\n31\n'

In [ ]:
calendar.weekday(2022,9,12)

0

In [ ]:
calendar.prmonth(2022,9)

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

- random

In [ ]:
import random
random.randint(1,5)

4

In [ ]:
a = []
for _ in range(10):
  a.append(random.randint(1,20))
a

[19, 4, 7, 7, 5, 9, 4, 5, 3, 2]

In [ ]:
a = [random.randint(1,20) for i in range(10)]

In [ ]:
random.choice(seq = [1,2,3,4,5,6,7,8,9,10])

3

In [ ]:
random.choice(range(5))

3

In [ ]:
random.random() # return a random number between 0 and 1

0.03293539447599192

In [ ]:
import numpy as np
np.random.uniform()

0.9672179001437895

In [ ]:
data = [1,3,2]
random.shuffle(data)
data

[2, 1, 3]

In [ ]:
import webbrowser

In [ ]:
webbrowser.open("www.naver.com")

False

In [203]:
import time
def long_task():
  for i in range(5):
    time.sleep(1)
    print('working : %s'  %i)
print('start')
for _ in range(5):
  long_task()
print('end')

start
working : 0
working : 1
working : 2
working : 3
working : 4
working : 0
working : 1
working : 2
working : 3
working : 4
working : 0

KeyboardInterrupt: ignored

In [212]:
import threading
import time
def long_task():
  for i in range(5):
    time.sleep(1)
    print('working : %s'  %i)
threads = []
for _ in range(5):
  t = threading.Thread(target = long_task)
  threads.append(t)

for t in threads :
  t.start()
for t in threads :
  t.join()
print('end')

working : 0
working : 0
working : 0
working : 0
working : 0
working : 1
working : 1working : 1

working : 1
working : 1
working : 2
working : 2
working : 2
working : 2
working : 2
working : 3
working : 3
working : 3
working : 3
working : 3
working : 4
working : 4
working : 4
working : 4
working : 4
end

In [213]:
[2*i for i in range(1,10)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [214]:
def GuGu(num):
  return [num*i for i in range(1,10)]

In [215]:
GuGu(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [216]:
GuGu(3)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [224]:
def sum_3_5(num1, num2):
  number = [i for i in range(1,101) if i % num1 == 0 or i % num2 == 0]
  return sum(number)

In [228]:
sum_3_5(2,3)

3417

In [247]:
def getTotalPage(m,n):
  if m % n == 0 :
    return m//n
  else :
    return m//n+1

In [246]:
getTotalPage(3,7)

1

In [248]:
import sys

sys.argv

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py',
 '-f',
 '/root/.local/share/jupyter/runtime/kernel-87b3bb13-a544-4ba3-b586-6caee280fef2.json']