In [ ]:
class Sport:
  def __init__(self,name,players):
    self.name = name
    self.players = players
  def explain(self):
    print(f'{self.name}은/는 {self.players}명이서 하는 스포츠입니다.')

In [ ]:
soccer = Sport('축구',11)
soccer.name
soccer.explain()

축구은/는 11명이서 하는 스포츠입니다.

In [ ]:
class Plant:
  def __init__(self,name):
    self.name = name
  def color(self):
    self.color = 'green'
    return self.color
class Apple(Plant):
  def color(self):
    self.color = 'Red'
    return self.color

In [ ]:
p = Plant('할미꽃')
p.color()
q= Apple('사과')
q.color()

'Red'

In [ ]:
with open('new.txt','w') as f:
  for i in range(10):
    f.write('Hello\n')
f = open('new.txt','r')
data = f.readlines()
f.close()
print(data)

['Hello\n', 'Hello\n', 'Hello\n', 'Hello\n', 'Hello\n', 'Hello\n', 'Hello\n', 'Hello\n', 'Hello\n', 'Hello\n']

In [ ]:
f = open("new.txt", "w")
for i in range(10):
    f.write("Hello\n")
f.close()

f = open("new.txt", "r")
print(f.read())

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
with open('gogodan.txt','w') as f:
  for i in range(2,10):
    for j in range(1,10):
      if j == 9:
        f.write(str(i*j)+'\n')
      else:
        f.write(str(i*j)+' ')

In [ ]:
with open("구구단.txt",'w',encoding='utf-8') as f:
    for i in range(2,10):
        for j in range(1,10):
            f.write(f"{i*j}")
        f.write("\n")

In [ ]:
class Family :
  lastname = '박' #클래스 변수
  def __init__(self, name):
    self.name = name

In [ ]:
가족1 = Family('길동')

In [ ]:
가족1.name

'길동'

In [ ]:
가족1.lastname

'박'

In [ ]:
Family.lastname

'박'

In [ ]:
가족2 = Family('우치')

In [ ]:
가족2.name

'우치'

In [ ]:
가족2.lastname

'박'

In [ ]:
id(가족1.lastname)

140274823716416

In [ ]:
id(가족2.lastname)

140274823716416

In [ ]:
name = '장길산'
class family(Family):
  def show_name(self):
    print(name)
    print(Family.lastname)
    print(self.lastname)
    print(self.name)

In [ ]:
f1 = family('길동')
f1.show_name()

장길산
박
박
길동

In [ ]:
name1 = '아이유'
class Person:
  name2 = '손'
  def __init__(self,name):
    self.name = name
p = Person('흥민')
print(p.name2,p.name , name1)

손 흥민 아이유

##상속후 변수 추가 
-부모클래스ㅔ서 인자로 입력받는 것이 없을 때

In [ ]:
class Person :
  def __init__(self):
    self.name= "Lee"
    self.age  = 25
class Korean(Person):
  def __init__(self):
    super().__init__() #부모클래스 init 실행
    self.lang = '한국어'

In [ ]:
p1 = Person()
p1.name

'Lee'

In [ ]:
k1 = Korean()
k1.name
k1.lang

'한국어'

In [ ]:
k2 = Korean()

In [ ]:
k2.lang

'한국어'

In [ ]:
k2.name

'Lee'

In [ ]:
class American(Person):
  def __init__(self):
    super().__init__()
    self.lang = 'English'

In [ ]:
a1 = American()
a1.lang

'English'

- 부모클래스에서 인자로 입력받는 것이 있을 때

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
class Korean(Person):
  def __init__(self,name,age):
    super().__init__(name, age)
    self.lang = "한국어"

In [ ]:
k1 = Korean("홍길동",22)

- 자식 클래스에서도 인자를 입력받는 경우

In [ ]:
class Korean(Person):
  def __init__(self,name,age,lang = '한국어'): #<-모든 변수를 다 써준다.
    super().__init__(name, age)
    self.lang = lang

In [ ]:
k1 = Korean('길동',22,'한국어')
k1.lang

'한국어'

In [ ]:
k1.name

'길동'

In [ ]:
if __name__ == '__main__':
  print()

dunder __

In [ ]:
a = ['Hello', 'Good']
try:
  for i in range(3):
    print(a[i])
except IndexError as index:
  print('에러입니다'+' '+a[0]+' '+a[1])

Hello
Good
에러입니다 Hello Good

In [ ]:
try :
  print(4/2)
  print(4 / 0)
except ZeroDivisionError as zero :
  print(zero)
  print('에러입니다')

2.0
division by zero
에러입니다

In [ ]:
try :
  prit("abcd")
except :
  print(0)

0

In [ ]:
a = {'a' : 0, 'b' : 1, 'c' : 2}
for i,j in enumerate(a):
  print(i,j)

0 a
1 b
2 c

In [ ]:
a

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
b = ['a','b','c']

In [ ]:
c = {}
for i, j in enumerate(a):
    c[j] = i
print(c)

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
def positive(a):
  return a>0

In [ ]:
a = [1,-3,2,0,-5,6]
b= list(filter(positive,a))

In [ ]:
b

[1, 2, 6]

- filter
'''
- filter(함수,자료)
- 들어가는 함수는 참,거짓을 아웃풋으로 내야한다.
- 원소 하나하나에 대하여 함수를 적용시켜주는 함수 = map

'''

In [ ]:
a = [1,-3,2,0,-5,6]
b= list(filter(lambda a :a>0,a))

In [ ]:
import numpy as np

a=np.array(a)
a[a>0]

array([1, 2, 6])